@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.jost-fonts {
    font-family: "Jost", sans-serif;
}

.vollkorn-fonts {
    font-family: "Vollkorn", serif;
}

/* navbar section styles starts here  */
ul {
    gap: 50px;
}
.nav-link{
    font-size: 18px;
    font-weight: 600;
    color: #00413D;
    transition: .4s;
}
.nav-link:hover{
color: #E5745D;
}

.cvButton a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.cvButton {
    border: none;
    background-color: #E5745D;
    width: 190px;
    height: 65px;
    text-align: center;
    position: relative;
}
.cvButton::after{
    position: absolute;
    top: 5px;
    left: 7px;
    height: 55px;
    width: 175px;
    border: 2px solid white;
    content: "";
}